@mixin common-form {
  input {
    margin: 8px;
    margin-left: 0px;
  }
  input[type=text], input[type=password] {
    width: 30em;
  }

  input[type=submit] {
    margin: 16px 0;
  }

  label {
    margin-right: 16px;
  }
  margin-bottom: 32px;

  .advanced-config {
    display: none;
  }
}

#credible-signup-section {
  @include common-form;
}

#credible-login-response {
  color: red;
}

#credible-login-resend-verify {
  display: none;
}

#credible-login-section {
  @include common-form;
}

#credible_api_key {
  width: 40em;
}

#credible-api-key-check-response, #credible-login-response, #credible-signup-response {
  font-size: 16px;
}

.credible-danger-zone {
  margin-top: 64px;
}

.big-button {
  color: #FFF;
  padding: 16px 32px;
  border: 0;
  border-radius: 4px;
  font-size: 1.2em;
  margin-right: 32px;
  background-color: #6772E5;
  cursor: pointer;
}
